<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body background ='C:\Users\Giang\Desktop\doan'>
    Đăng Ký Gia Hạn
    <form action='/' method='post'>
        Mã hộ chiếu:<br/> 
        <input type='text' name='passport'/><br/>
        Họ và tên:<br/>
        <input type='text' name='name'/><br/>
        Địa chỉ:<br/> 
        <input type='text' name='address'/><br/>
        Phái:<br/> 
        <input type='text' name='gender'/><br/>
        CMND:<br/> 
        <input type='text' name='CMND'/><br/>
        Điện thoại:<br/> 
        <input type='text' name='phone'/><br/>
        Email:<br/> 
        <input type='text' name='mail'/><br/>
        <input type='submit' value='Đăng ký'/>
    </form>
</body>
</html>