<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Đăng Nhập Tài Khoản Xét duyệt
    <form action="/XD/login" method="post">
        <label>Tài khoản XD: </label><input type="text" name="XD"/>
        <br/>
        <label>Mật khẩu: </label><input type="password" name="password"/>
        <input type="submit" value="Login">
    </form>
</body>
</html>