<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Người này không tồn tại trong hệ thống</h1>
    <form action='/XT/<%= passport %>' method='post'>
        <input type="submit" name="action" value="Không hợp lệ" />
    </form>
</body>
</html>